<nb-card>
  <nb-card-header style="background-color:#E1E1FF; color: #6A6AD4;"
    >Trocar Senha</nb-card-header
  >
  <nb-card-body>
    <div class="form">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Senha Atual</label>
          <input
            name="senhaAntiga"
            type="password"
            nbInput
            fullWidth
            [(ngModel)]="dataAux.senhaAntiga"
            placeholder="Senha Atual"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Nova Senha</label>
          <input
            name="novaSenha"
            type="password"
            nbInput
            fullWidth
            [(ngModel)]="dataAux.senhaNova"
            placeholder="Nova Senha"
            onfocusout="valicaoSenhasIguais()"
          />
          <label *ngIf="valicaoSenhasIguais()">
            <b style="color:red ;"
              >Nova senha não poder ser igual a anterior.</b
            >
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Confirmação de Senha</label>
          <input
            name="confirmacaoSenha"
            type="password"
            nbInput
            fullWidth
            [(ngModel)]="dataAux.confirmacaoSenha"
            placeholder="Confirmação de Senha"
            onfocusout="valicaoSenhas()"
          />
          <label *ngIf="valicaoSenhas()">
            <b style="color:red ;">Confirmação de senha não confere.</b>
          </label>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer style="text-align: right ;" class="new-button">
    <button style="text-align: left; margin: 10PX;" nbButton (click)="save()">
      SALVAR
    </button>
    <button
      style="text-align: right;background-color: #F0AD4E;border-color:  #F0AD4E;"
      nbButton
      (click)="close()"
    >
      Fechar
    </button>
  </nb-card-footer>
</nb-card>
