<nb-card>
  <nb-card-header>Trocar Senha</nb-card-header>
  <nb-card-body>
    <div class="form">
      <b style="color: red;">Atenção</b>
      <br />
      <b>
        A senha deve conter ao menos um caracter númerico e uma letra maiúscula
      </b>
      <br />
      <b>para ser considerado uma senha válida.</b>
      <div class="row">
        <div class="form-group col-md-12">
          <label fullWidth>Senha Atual</label>
          <br />
          <input
            class="ng-pristine ng-valid size-medium ng-touched"
            name="senhaAntiga"
            type="password"
            nbInput
            required
            (blur)="validaSenhaAtual()"
            fullWidth
            [(ngModel)]="dataAux.SenhaAntiga"
            placeholder="Senha Atual"
          />
          <div [hidden]="!validSenhaVelha" class="alert alert-danger">
            Senha é obrigatório.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label fullWidth>Nova Senha</label>
          <br />
          <input
            class="ng-pristine ng-valid size-medium  shape-rectangle ng-touched"
            name="novaSenha"
            type="password"
            nbInput
            required
            (blur)="validaSenhaNova()"
            fullWidth
            [(ngModel)]="dataAux.SenhaNova"
            placeholder="Nova Senha"
          />
          <br />
          <div [hidden]="!validSenhaNova" class="alert alert-danger">
            Senha nova é obrigatório.
          </div>

          <label *ngIf="">
            <b style="color:red ;">
              Nova senha não poder ser igual a anterior.
            </b>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label fullWidth>Confirmação de Senha</label>
          <br />
          <input
            name="confirmacaoSenha"
            class="ng-pristine ng-valid size-medium  shape-rectangle ng-touched"
            type="password"
            nbInput
            fullWidth
            (blur)="validaconfSenhaNova()"
            required
            [(ngModel)]="dataAux.confirmacaoSenha"
            placeholder="Confirmação de Senha"
          />
          <br />
          <div [hidden]="!validconfSenhaNova" class="alert alert-danger">
            Confirmação de senha é obrigatório.
          </div>

          <label *ngIf="valicaoSenhas()">
            <b style="color:red ;">Confirmação de senha não confere.</b>
          </label>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer style="text-align: right ;" class="new-button">
    <button
      style="text-align: left; margin: 10PX;"
      nbButton
      (click)="atualizaUser()"
    >
      SALVAR
    </button>
  </nb-card-footer>
</nb-card>
