<div class="top-bar"></div>
<nb-card size="large">
  <nb-card-body>
    <div class="container">
      <img style="width: 40%;" src="../../../assets/images/logo.png" />
      <form style="margin-top: 2%">
        <div class="form-item">
          <br />
          <input
            name="user.email"
            fieldSize="large"
            type="text"
            fullWidth
            nbInput
            placeholder="Usuário"
            [(ngModel)]="user.email"
          />
        </div>
        <br />
        <button
          [disabled]="isLoading || !user.email"
          style="margin-left: 1.4rem;border-radius: 25px;"
          nbButton
          size="large"
          (click)="changePassword()"
        >
          Enviar
        </button>
        <br />
        <br />
        <a
          style="text-decoration: none;"
          (click)="goBack()"
          href="javascript:void(0)"
          >Voltar</a
        >
      </form>
    </div>
  </nb-card-body>
</nb-card>
