nb-card {
  height: 90vh;
  width: 90vw;
  margin-top: 5vh;
}

.new-button {
  text-align: right;
  margin-top: 4vh;
  background-color: grey;
  border-color: grey;
}

fieldset {
  border-color: #ff0000 !important;
  border-style: double !important;
}
.legend {
  margin-bottom: 0px !important;
  margin-left: 16px !important;
}

.field_set {
  border-color: #f00 !important;
  border-style: solid !important;
}
