.example-section {
    margin: 0px 0px;
  }
  
  .margin-checkbox {
    margin: 0px 0px;
    padding: 5px;
  }

  .input-title
  {
    font-weight: bold;
  }

.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}