$primary-color: #ff890b;
$secondary-color: #602857;
$success-color: #2ce69b;
$greyLetters: #8f9bb3;
$blueLetters: #3a7ba7;

$pallet-1: #ff890b;
$pallet-2: #db5c2a;
$pallet-3: #8b247d;
$pallet-4: #752469;
$pallet-5: #602857;
$pallet-6: #adc8e9;
$pallet-7: #d9ebf8;
