<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="form-group col-md-3" style="padding-left: 1%;">
        <div
          style="background-color: #873AD9;border: #873AD9;border-radius: 15px;height: 130px;"
        >
          <label
            style="font-size: xx-large;color: white;text-align: center;padding-top: 10%;padding-left: 37%;"
            ><b>{{ atendimentosAno }}</b></label
          >
          <br />
          <label
            style="font-size: small;color: white;text-align: center;padding: 5%;"
            >Influences cadastrados no ano</label
          ><br />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div
          style="background-color: #873AD9;border: #873AD9;border-radius: 15px; height: 130px;"
        >
          <label
            style="font-size: xx-large;color: white;text-align: center;padding-top: 10%;padding-left:10%;"
            ><b>R$ {{ faturamentoAno }}</b></label
          >
          <br />
          <label style="font-size: small;color: white;padding-left: 25%;"
            >Faturamento Anual</label
          ><br />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div
          style="background-color: #873AD9;border: #873AD9;border-radius: 15px; height: 130px;"
        >
          <label
            style="font-size: xx-large;color: white;text-align: center;padding-top: 10%;padding-left: 37%;"
            ><b>{{ atendimentosMes }}</b></label
          >
          <br />
          <label
            style="font-size: small;color: white;text-align: center;padding: 5%;"
            >Cadastros novos no mês</label
          ><br />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div
          style="background-color: #873AD9;border: #873AD9;border-radius: 15px; height: 130px;"
        >
          <label
            style="font-size: xx-large;color: white;text-align: center;padding-top: 10%;padding-left:10%;"
            ><b>R$ {{ faturamentoMes }}</b></label
          >
          <br />
          <label style="font-size: small;color: white;padding-left: 25%;"
            >Faturamento Mensal</label
          ><br />
        </div>
      </div>
      <!-- <div class="form-group col-md-2" style="padding-right: 1%;">
        <div
          style="background-color:  #E8B23C;border:  #E8B23C;border-radius: 15px; height: 130px;text-align: center;padding-top: 25%;"
        >
          <label style="font-size: xx-large;color: white;text-align: center;"
            ><b>{{ atendimentosAguardandoConfirmacao }}</b></label
          ><mat-icon style="align-items: right;">search</mat-icon> <br />
          <label
            style="font-size: small;color: white;text-align: center;padding: 5%;"
            >Atendimentos Aguardando Confirmação</label
          ><br />
        </div>
      </div> -->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="form-group col-md-10"></div>
    </div>
  </nb-card-body>
</nb-card>
